#################
## APPLICATION ##
#################
# MySQL database connection string
DATABASE_URL="username:password@host:port/db_name?option=value&other=values"
# Key with which the JWTs will be signed. Should be long, secure, and random
APP_SECRET="some very long and secret string here"

#########################
## EVENT SOURCE CONFIG ##
#########################
TEAM_NAME="YOUR TEAM NAME"
API_KEY="YOUR API KEY"
EVENT_HUB_NAME="YOUR EVENT HUB NAME"
EVENT_HUB_CONNECTION_STRING="YOUR EVENT HUB CONNECTION STRING"
